text {
  font-size: 100px;
}

scroll {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px;
  height: 100%;
}

button {
  font-size: 64px;
  margin: 8px;
  background-color: white;
  &.reset {
    color: red;
  }
  &.minus {
    color: red;
  }
  &.plus {
    color: red;
  }
}

slider {
  background: transparent;
  height: 1000px;
}
