text {
  font-size:100px;
}

scroll {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px;
  height: 100%;
}


button {
    font-size: 64px;
    margin:8px;
    color: white;
    &.reset {
      background-color: green;
    }
    &.minus{
      background-color: blue;
    }
    &.plus{
      background-color: red;
    }
}

Slider {
  size: 256px;
  background: transparent;
}